@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

::selection {
    color: #6001c5;
    background-color: #e7819c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #9050d0;
}

::-webkit-scrollbar-thumb {
    background: #080029;
    border-radius: 5px;
    border: 1px solid #9050d0;
}

::-webkit-scrollbar-thumb:hover {
    background: #040014;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/large_bg_img.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scrollbar-width: thin;
    scrollbar-color: #080029 #9050d0;
    animation: bright 3s infinite ease-in-out;
    backdrop-filter: brightness(90%);
    overflow-x: hidden;
}



button {
    position: sticky;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #18d860;
    box-shadow: 0 0 5px 1px black;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all 0.1s ease;
}

.fa-music {
    font-size: 1.2em;
}

button:hover {
    background-color: #16a74d;
    box-shadow: 0 0 10px 3px #dfacb0;
}

button:active {
    background-color: #1672a7;
}

button:hover .fa-music {
    color: white;
}

header {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

header #logo img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    animation: shadow 3s infinite alternate;
}

@keyframes shadow {
    0% {
        box-shadow: 5px 5px 13px 10px rgba(0, 0, 0),
            -5px -5px 13px 5px rgb(255, 159, 239);
    }

    25% {
        box-shadow: 5px 5px 17px 15px rgba(0, 0, 0),
            -5px -5px 17px 10px rgb(255, 159, 239);
        opacity: 0.8;
    }

    50% {
        box-shadow: 5px 5px 25px 20px rgba(0, 0, 0),
            -5px -5px 25px 15px rgb(255, 159, 239);
        opacity: 0.7;
    }

    75% {
        box-shadow: 5px 5px 17px 15px rgba(0, 0, 0),
            -5px -5px 17px 10px rgb(255, 159, 239);
        opacity: 0.8;
    }

    100% {
        box-shadow: 5px 5px 13px 10px rgba(0, 0, 0),
            -5px -5px 13px 5px rgb(255, 159, 239);
    }
}


header h1 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color: antiquewhite;
    animation: shadowtext 2s infinite ease;
}

@keyframes shadowtext {
    0% {
        text-shadow: 0 0 10px #000;
    }

    25% {
        text-shadow: 0 0 15px #5a005a;
    }

    50% {
        text-shadow: 0 0 20px #6001c5;
    }

    75% {
        text-shadow: 0 0 15px #5a005a;
    }

    100% {
        text-shadow: 0 0 10px #000;
    }
}

section {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10vh;
}

section .link-bar {
    height: 50px;
    width: 70vw;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.185);
    transition: all 0.3s ease;
}

section .link-bar a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section .link-bar:hover {
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.651);
}

section .link-bar:hover a {
    color: black;
}

section .link-bar a i {
    margin-right: 5px;
    transform: translateX(-5px);
    font-size: 25px;
}

footer {
    color: white;
    margin: 50px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;

}

footer a {
    text-decoration: none;
    animation: color-changing 2s infinite ease;
}

@keyframes color-changing {
    0% {
        color: #5178c4;
    }

    50% {
        color: whitesmoke;
    }

    100% {
        color: #5178c4
    }
}

@media screen and (max-width: 800px) {
    .cursor {
        display: none;
        visibility: hidden;
    }

    header #logo img {animation: none;}
}


.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}


/* SOCIAL HOVER */
section .link-bar:hover .fa-instagram {
    color: rgb(255, 42, 77);
}

section .link-bar:hover .fa-youtube {
    color: red;
}

section .link-bar:hover .fa-spotify {
    color: #18d860
}

section .link-bar:hover .fa-snapchat {
    color: yellow;
}

section .link-bar:hover .fa-whatsapp {
    color: #2ed54a;
}

section .link-bar:hover .fa-facebook {
    color: #1877f2;
}

section .link-bar:hover .fa-reddit {
    color: #FF5700;
}

@media only screen and (max-device-width: 800px) {
    body {
        background: url('../images/small_bg_img.gif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section {
        margin-top: 5vh;
        gap: 5vh
    }

    section .link-bar {
        width: 90vw;
        background-color: rgba(0, 0, 0, 0.432);
    }

    section .link-bar .fa-instagram {
        color: rgb(255, 42, 77);
    }

    section .link-bar .fa-youtube {
        color: red;
    }

    section .link-bar .fa-spotify {
        color: #18d860
    }

    section .link-bar .fa-snapchat {
        color: yellow;
    }

    section .link-bar .fa-whatsapp {
        color: #2ed54a;
    }

    section .link-bar .fa-facebook {
        color: #1877f2;
    }

    section .link-bar .fa-reddit {
        color: #FF5700;
    }

}







/* ======= Cursor ========= */
.cursor {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border: 8px solid rgb(65, 0, 150);
    border-radius: 50%;
    opacity: .5;
    top: -10px;
    left: -10px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #751671;
}